### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### macOS ###
.DS_Store

### TransferGo 临时帧目录 ###
/transfergo-encode-*/
/transfergo-decode-*/

/transfergo
/dist/
/files/
/test-cmds.txt
/.gocache/
/.gomodcache/
